a {
  color: $primary;
  transition: color 0.15s ease;
}
a:hover {
  color: darken($primary, 10%);
}
p {
  line-height: 1.8;
  color: $grey;
  font-family: $font-family-base;
  margin-bottom: 1rem;
}
h1 {
  font-size: 28px;
  font-family: $font-family-heading;
  font-weight: $font-bolder-weight;
  line-height: 1.3;
  margin-bottom: 1.2rem;
  color: $black;
  @include media-breakpoint-up(md) {
    font-size: 36px;
    line-height: 1.25;
  }
}
h2 {
  font-size: 20px;
  font-family: $font-family-heading;
  font-weight: $font-bolder-weight;
  line-height: 1.4;
  margin-bottom: 0.8rem;
  color: $black;
  @include media-breakpoint-up(md) {
    font-size: 24px;
  }
}
h3 {
  font-size: 17px;
  line-height: 1.5;
  color: $black;
  @include media-breakpoint-up(md) {
    font-size: 19px;
  }
}
ul,
ol {
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    margin: 0;
  }
}
